

**/__pycache__/

# venv
venv/
**/venv/
**/bin/
**/etc/
**/include/
**/lib/
**/lib64
**/venv/
**/pyvenv.cfg

# jupyter
jupyter/
**/.ipynb_checkpoints/

# flask 
**/.flaskenv

# custom
data/
docs/
misc/
tmp/
